/* For mobile devices */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .sidenav {
        height: 1px;
        width: 375px;
        display: inline-flex;
    }

    .sidenav a {
        font-size: 15px;
        margin-top: -35px;
        padding-left: 50px;
    }

    .main-about {
        position: absolute;
        margin: 55px 0px;
        width: 375px;
    }

    .welcome-text h2 {
        font-size: 2rem;
    }

    .text {
        font-size: 15px;
    }

    .socials {
        margin-top: 1px;
        margin-left: 100px;
    }

    .fa {
        padding: 45px;
    }

    .resume {
    }
}