/* For mobile devices */
@media only screen and (min-width: 375px) and (max-width: 667px) {
    .sidenav {
        height: 1px;
        width: 375px;
        display: inline-flex;
        margin-top: -57px;
        position: fixed;
    }

    .sidenav a {
        font-size: 15px;
        margin-top: -35px;
        padding-left: 50px;
    }

    .main-about {
        margin-top: 57px;
        margin-left: 0px;
        width: 375px;
        height: 590px;
    }

    .welcome-text h2 {
        font-size: 2rem;
    }

    .text {
        font-size: 14px;
    }

    .socials {
        margin-top: 5px;
        margin-left: 100px;
    }

    .fa {
        padding: 40px;
    }

    .resume {
        position: absolute;
        margin: 1px 0px;
        width: 375px;
    }

    .resume h1 {
        margin-top: -20px;
        margin-right: 65px;
        text-align: center;
        font-size: 30px;
    }

    .summary-info {
        font-size: 20px;
        margin: -30px 30px 1px -50px;
        text-align: center;
    }

    .btn-section {
        margin-top: -30px;
        margin-left: -30px;
        display: block;
    }

    .btn-section button {
        padding: 15px;
        width: 200px;
    }

    .work-experience {
        margin: 5px;
    }

    .download-resume {
        margin: 5px;
    }

    .education {
        margin: 5px;
    }

    .w-modalbox>.dialog {
        height: 610px;
        margin-left: 5px;
        margin-top: 35px;
    }

    .w-dot {
        height: 15px;
    }

    .w-vline {
        height: 110px;
    }

    .modal-text-h2 {
        font-size: 15px;
        margin-top: -10px;
    }

    .w-info {
        font-size: 17px;
    }

    table {
        margin: 1px;
        height: 455px;
    }

    .we-info--table-headline,
    td {
        font-size: 12px;
    }

    .we-info-table {
        font-size: 12px;
        text-align: left;
    }

    table li {
        padding: 1px;
    }

    .e-modalbox>.dialog {
        height: 610px;
        margin-left: 5px;
        margin-top: 35px;
      }

    .e-dot {
        height: 15px;
    }

    .e-vline {
        height: 110px;
    }

    .cllg-info {
        margin-left: 30px;
        margin-top: -10px;
      }


    .skills {
        position: absolute;
        margin: 700px 0px;
        width: 375px;
        height: 1622px;
    }

    .cards-section1, .cards-section2 {
        display: contents;
    }

}